@import '~bootstrap/scss/bootstrap';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ol,ul,menu{
    list-style: none;
    padding: 0;
}
a{
    color: currentColor;
    text-decoration: none;
}
img{
    max-width: 100%;
    display: block;
}
.index-section{
    background-color: #8FBC8F;
}
.card{
    padding: 16px;
    background-color: #D2B48C;
    margin: 20px;
    width: 100%;
    .btn-wrapper{
        margin-top: 10px;
        display: flex;
        // justify-content: space-between;
        align-items:center;
       .margin-left-auto{
        margin-left: auto;
       }
    }

}