@use './partials/variables' as *;
@import '~bootstrap/scss/bootstrap';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ol,ul,menu{
    list-style: none;
    padding: 0;
}
a{
    color: currentColor;
    text-decoration: none;
}
img{
    max-width: 100%;
    display: block;
}
// #app,main,.section{
//     height: 100%;
// }
.section{
    background-color: $black;
    color: $white;
    height: 100vh;
}
.index{
 height: 100%;
}
.card{
    color: $white;
    padding: 16px;
    background-color: $gray;
    margin: 20px;
    max-height: 100%;
    .btn-wrapper{
        margin-top: 10px;
        display: flex;
        // justify-content: space-between;
        align-items:center;
       .margin-left-auto{
        margin-left: auto;
       }
    }

}
.title{
    font-weight: 700;
    font-size: 32px;
}
.project-title{
    font-weight: 700;
    font-size: 24px;
}
.project-subtitle{
    color: #333333;
    font-size: 18px;
    margin-bottom: 10px;
}

// bottoni
.btn-black{
    background-color: $black;
    color: $white;
}
.btn-light-gray{
   background-color: $light-gray; 
}
.btn-gray{
    background-color: $gray;
}

// text bg 
.text-bg-dark-gray{
    background-color: $dark-gray;
    color: $white;
}